.el-col {
	width: 100%;
	max-width: 100%;
	flex-grow: 1;
	flex-basis: 0;
}

$cols: 24;
@for $i from 1 through $cols {
	.el-col-#{$i} {
		flex: 0 0 calc($i / $cols) * 100%;
		max-width: calc($i / $cols) * 100%;
	}
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.mt-auto {
	margin-top: auto;
}

.mb-auto {
	margin-bottom: auto;
}

$total: 10;
@for $i from 0 through $total {
	.m-#{$i} {
		margin: ($i) * 4px;
	}
	.mx-#{$i} {
		margin-left: ($i) * 4px;
		margin-right: ($i) * 4px;
	}
	.my-#{$i} {
		margin-top: ($i) * 4px;
		margin-bottom: ($i) * 4px;
	}
	.ml-#{$i} {
		margin-left: ($i) * 4px;
	}
	.mr-#{$i} {
		margin-right: ($i) * 4px;
	}
	.mt-#{$i} {
		margin-top: ($i) * 4px;
	}
	.mb-#{$i} {
		margin-bottom: ($i) * 4px;
	}
	//
	.m-n#{$i} {
		margin: -($i) * 4px;
	}
	.mx-n#{$i} {
		margin-left: -($i) * 4px;
		margin-right: -($i) * 4px;
	}
	.my-n#{$i} {
		margin-top: -($i) * 4px;
		margin-bottom: -($i) * 4px;
	}
	.ml-n#{$i} {
		margin-left: -($i) * 4px;
	}
	.mr-n#{$i} {
		margin-right: -($i) * 4px;
	}
	.mt-n#{$i} {
		margin-top: -($i) * 4px;
	}
	.mb-n#{$i} {
		margin-bottom: -($i) * 4px;
	}
	//
	.p-#{$i} {
		padding: ($i) * 4px;
	}
	.px-#{$i} {
		padding-left: ($i) * 4px;
		padding-right: ($i) * 4px;
	}
	.py-#{$i} {
		padding-top: ($i) * 4px;
		padding-bottom: ($i) * 4px;
	}
	.pl-#{$i} {
		padding-left: ($i) * 4px;
	}
	.pr-#{$i} {
		padding-right: ($i) * 4px;
	}
	.pt-#{$i} {
		padding-top: ($i) * 4px;
	}
	.pb-#{$i} {
		padding-bottom: ($i) * 4px;
	}
	//
	.p-n#{$i} {
		padding: -($i) * 4px;
	}
	.px-n#{$i} {
		padding-left: -($i) * 4px;
		padding-right: -($i) * 4px;
	}
	.py-n#{$i} {
		padding-top: -($i) * 4px;
		padding-bottom: -($i) * 4px;
	}
	.pl-n#{$i} {
		padding-left: -($i) * 4px;
	}
	.pr-n#{$i} {
		padding-right: -($i) * 4px;
	}
	.pt-n#{$i} {
		padding-top: -($i) * 4px;
	}
	.pb-n#{$i} {
		padding-bottom: -($i) * 4px;
	}
}
