@import 'color';
@import 'layout';
@import 'override';
@import 'lyrics';
// @import ''
// @import 'element-plus/theme-chalk/src/dark/css-vars.scss';

:root {
	--color-red: #f44336;
	--color-pink: #e91e63;
	--color-purple: #9c27b0;
	--color-deep-purple: #673ab7;
	--color-indigo: #3f51b5;
	--color-blue: #2196f3;
	--color-light-blue: #03a9f4;
	--color-cyan: #00bcd4;
	--color-teal: #009688;
	--color-green: #4caf50;
	--color-light-green: #8bc34a;
	--color-lime: #cddc39;
	--color-yellow: #ffeb3b;
	--color-amber: #ffc107;
	--color-orange: #ff9800;
	--color-deep-orange: #ff5722;
	--color-brown: #795548;
	--color-blue-grey: #607d8b;
	--color-grey: #9e9e9e;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: consolas, '微軟正黑體', Helvetica, Arial, 'LiHei Pro', '黑體-繁', sans-serif;
	user-select: none;
	// min-width: 1600px;
	overflow-y: hidden;
}

$tAlign: left, center, right;
@each $align in $tAlign {
	.text-#{$align} {
		text-align: $align;
	}
}

@for $i from 1 through 8 {
	.w-#{($i * 25)} {
		width: $i * 25%;
	}

	.h-#{($i * 25)} {
		height: $i * 25%;
	}

	.opa-#{($i * 25)} {
		opacity: ($i * 0.25);
	}
}

button.complex-icon {
	position: relative;

	span svg + svg {
		position: absolute;
		bottom: 10%;
		right: 20%;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: var(--el-bg-color-overlay);
	}

	&.is-circle span svg + svg {
		bottom: 10%;
		right: 10%;
	}

	&.success span svg + svg {
		color: var(--el-color-success);
	}

	&.warning span svg + svg {
		color: var(--el-color-warning);
	}

	&.error span svg + svg {
		color: var(--el-color-error);
	}

	&.is-disabled span svg + svg {
		color: var(--el-button-disabled-text-color);
	}
}

button.compose-icon {
	position: relative;

	span svg + svg {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		color: var(--el-bg-color-overlay);
	}
}

div.complex-icon {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;

	span {
		svg + svg {
			position: absolute;
			bottom: 10%;
			right: 10%;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: var(--el-bg-color-overlay);

			&.success {
				color: var(--el-color-success);
			}

			&.error {
				color: var(--el-color-error);
			}
		}
	}
}

.min-scroll {
	&.x {
		overflow-x: auto;
		overflow-y: hidden;
	}

	&.y {
		overflow-y: auto;
		overflow-x: hidden;
	}

	&::-webkit-scrollbar {
		width: 0.2rem;
		height: 0.2rem;
	}

	&::-webkit-scrollbar-track {
		border-radius: 0.2rem;
		background: rgb(75 150 75 / 6%);
		box-shadow: inset 0 0 5px rgb(75 150 75 / 30%);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0.2rem;
		background: rgb(200 200 200 / 32%);
		box-shadow: inset 0 0 10px rgb(100 100 100 / 75%);
	}

	&.scroll-darken::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 10px rgb(25 25 25 / 75%);
	}

	&.scroll-lighten::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 10px rgb(150 150 150 / 75%);
	}

	&.primary-scroll {
		&::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(35 35 200 / 75%);
		}

		&.scroll-darken::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(35 35 150 / 75%);
		}
	}

	&.info-scroll {
		&::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(35 135 255 / 75%);
		}

		&.scroll-darken::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(35 75 200 / 75%);
		}
	}

	&.warning-scroll {
		&::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(235 200 35 / 75%);
		}

		&.scroll-darken::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(180 120 187 / 75%);
		}
	}

	&.error-scroll {
		&::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(200 35 35 / 75%);
		}

		&.scroll-darken::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(120 35 35 / 75%);
		}
	}

	&.success-scroll {
		&::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(35 200 35 / 75%);
		}

		&.scroll-darken::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgb(35 120 35 / 75%);
		}
	}

	&.purple-scrol {
		&::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgba($color: purple, $alpha: 65%);
		}

		&.scroll-darken::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 10px rgba($color: purple, $alpha: 85%);
		}
	}
}
